<dx-button text="Click me" (onClick)="HelloWorld()"></dx-button>

<dx-tree-map>
    <dxo-tooltip [enabled]='true'  format="thousands">></dxo-tooltip>
</dx-tree-map>

<dx-data-grid>
    <dxi-column [editorOptions] ="{Width:100}"></dxi-column>
</dx-data-grid>

<dx-data-grid>
    <dxi-column dataField="First Name" caption="First Name"></dxi-column>
    <dxi-column dataField="Last Name" caption="Last Name" [visible]='true'></dxi-column>
</dx-data-grid>
<!-- <nav>
    <button routerLink="second-dev">Second page</button>
    <button routerLink="third-dev">Third page</button>
</nav> -->
<dx-chart>
    <dxi-series valueField="value" argumentField="argument"></dxi-series>
    <dxi-value-axis>
        <dxo-label format="millions"></dxo-label>
    </dxi-value-axis>
</dx-chart>

<!-- dx list -->

<dx-list>
    <dxi-item>
        <h1>Avialable Item</h1>
    </dxi-item>
    <dxi-item *ngFor="let item of ListItems" [badge]='item.badge'>
        <h2>{{item.text}}</h2>
        <p>{{item.badge}}</p>
    </dxi-item>
</dx-list>


<!-- dx template list -->

<dx-list>
    <dxi-item>
        <div *dxTemplate>
            <dx-button text="I am a nested component"></dx-button>
        </div>
    </dxi-item>
</dx-list>

<!-- <dx-button text="ok" (onClick)="okClicked()"></dx-button> -->


<dx-data-grid>
    <dxi-column type="button">
        <dxi-button [onClick]="okClicked"></dxi-button>
    </dxi-column>
</dx-data-grid>

<!-- One way Binding -->
<dx-text-box [value]="bindingProperty"></dx-text-box>

<!-- Two way Bindning -->
<dx-text-box [(value)]="bindingProperty"></dx-text-box>
<h1>{{bindingProperty}}</h1>

<!-- list view document -->
<dx-scroll-view>
    <div>Some scroll content</div>
</dx-scroll-view>

<!-- list properties -->
<dx-list
[items]='ListData'
itemTemplate="list-item">
<div *dxTemplate = "let data of 'list-item'; let index=index">
    {{index}} - {{data.itemProperties}}
    {{index}} - {{data.itemName}}
</div>

</dx-list>
<!-- start routing  -->

<nav>
   <button routerLink="second-dev">second dev link</button>
   <button routerLink="third-dev">third dev link</button>
</nav>
<router-outlet></router-outlet>